{% extends 'base.html.twig' %}

{% block title %} Ajouter un article {% endblock %}


{% block body %}


    {{ form_start(form) }}

    {{ form_errors(form)}}

    {{ form_label(form.titre, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.contenu, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.dateCreation, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.dateCreation, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.categories, null, {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.categories, {'attr': {'class': 'form-control'}}) }}

        {{ form_rest(form)}}
        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}



